// Define colours for dark mode
// https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #3493d1;
    --main: #f3f3f3;
    --light: #ececec;
    --lighter: #666;
    --border: #e6e6e6;
    --bg: #333333;
  }
}
